<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>IMS</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.3.1/css/buttons.dataTables.min.css">
    
    
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header>
<div class="navbar-fixed">
<nav class="primary-color" role="navigation" >
<div class="nav-wrapper navcontainer">																				
	<ul class="right">
						<li class="hide-on-med-and-down"><a href="#"><i
								class="material-icons md-26">account_circle </i></a></li>
						<li class="hide-on-med-and-down"><span id="accname"></span></li>
						<li><a class="dropdown-button" href="#!" data-activates="profile-dropdown"><i class="material-icons right">arrow_drop_down</i></a></li>
					</ul>
<a href="#" data-activates="nav-mobile"
						class="button-collapse top-nav full hide-on-large-only"> <i
						class="material-icons">menu</i></a>
</div>
</nav>
</div>

<!------------- Mobile Nav ---------------	-->	
<ul id="nav-mobile" class="side-nav secondary-color z-depth-2" style="background-color: #1e282c; color: #fff;">
		<ul class="collapsible" data-collapsible="accordion">
      <li>
          <div class="collapsible-header"><i class="material-icons">dashboard</i>DashBoard</div>
          <div class="collapsible-body" style="background-color: #1e282c; color: #fff;"><ul>
            <li><a href="dashboard.html" class="waves-effect waves-light"><i class="material-icons">dashboard</i>DashBoard</a></li></ul>
          </div>
              
              </li>
          
    <li>
      <div class="collapsible-header"><i class="material-icons">collections</i>Products</div>
      <div class="collapsible-body" style="background-color: #1e282c; color: #fff;"><ul><li><a href="addproducts.html"
				class="waves-effect waves-light"><i
					class="material-icons">trending_up</i>Add Products</a></li>
          <li><a href="editproduct.html"
				class="waves-effect waves-light"><i
					class="material-icons">trending_up</i>Edit Products</a></li></ul></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Users</div>
      <div class="collapsible-body" style="background-color: #1e282c; color: #fff;"><ul><li><a href="searchuser.html"
				class="waves-effect waves-light"><i
					class="material-icons white">group</i>Search User</a></li>
         </ul></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Purchase</div>
      <div class="collapsible-body" style="background-color: #1e282c; color: #fff;"><ul><li><a href="addproducts.html"
				class="waves-effect waves-light  "><i
					class="material-icons">trending_up</i>Add Products</a></li>
          <li><a href="addproducts.html"
				class="waves-effect waves-light"><i
                                                                    class="material-icons">trending_up</i>Edit Products Products</a></li></ul></div>
    </li>
  </ul>
		</ul>
<ul id="profile-dropdown" class="dropdown-content"
style="width: 128px; position: absolute; top: 57px; left: 101.234px; opacity: 1; display: none;">
<li><a href="#" id="logout"><i class="material-icons black">keyboard_tab</i>
Logout</a></li>
</ul>
<!------------- Mobile Nav ---------------	-->	



	
<!------------- Desktop Nav ---------------	-->				
	
<ul class="hide-on-med-and-down">

</ul>
    
<ul id="slide-out" class="side-nav fixed" style="background-color: #1e282c; color: #fff;">
<li style="background-color:#3a80a7;">
<center>
IMS
</center>
</li>
          
<li style="padding: 20px 0;">
<center>
<img src="img/logo.png" width="100">
</center>						
</li>
<li>
    
      <ul class="collapsible" data-collapsible="accordion">
      <li>
          <div class="collapsible-header"><i class="material-icons">dashboard</i>DashBoard</div>
          <div class="collapsible-body" style="background-color: #1e282c; color: #fff;"><ul>
            <li><a href="dashboard.html" class="waves-effect waves-light tertiary-color "><i class="material-icons">dashboard</i>DashBoard</a></li></ul>
          </div>
              
              </li>
          
    <li>
      <div class="collapsible-header"><i class="material-icons">collections</i>Inventory</div>
      <div class="collapsible-body" style="background-color: #1e282c; color: #fff;"><ul>
           <li><a href="inventory.html"
				class="waves-effect waves-light tertiary-color "><i
					class="material-icons">trending_up</i>Inventory</a></li>
          
          
          <li><a href="addproducts.html"
				class="waves-effect waves-light tertiary-color "><i
					class="material-icons">trending_up</i>Add Products</a></li>
          <li><a href="editproduct.html"
				class="waves-effect waves-light tertiary-color "><i
					class="material-icons">trending_up</i>Edit Products</a></li>
         
          
          </ul></div>
         
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Users</div>
      <div class="collapsible-body" style="background-color: #1e282c; color: #fff;"><ul><li><a href="searchuser.html"
				class="waves-effect waves-light tertiary-color "><i
					class="material-icons">trending_up</i>Search User</a></li>
         </ul></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Purchase</div>
      <div class="collapsible-body" style="background-color: #1e282c; color: #fff;"><ul><li><a href="addproducts.html"
				class="waves-effect waves-light tertiary-color "><i
					class="material-icons">trending_up</i>Purchase Bill</a></li>
          <li><a href="addproducts.html"
				class="waves-effect waves-light tertiary-color "><i
                                                                    class="material-icons">trending_up</i>Sales Report</a></li></ul></div>
    </li>
  </ul>
    
</ul>
<a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>	
    
     
  </header> 
	<main>
	<div class="container-fluid">
	<div class="row center">
	<div class=" col s12 m4 l4 offset-m4 offset-l4">
	<div class="card z-depth-4" style="border-radius: 10px;">
        <h3>Add a Product</h3>
	</div>
	</div>
	</div>
    <div class="row">
        <div class="col s12 m6 l6 ">
            <div class="card z-depth-4" style="border-radius: 10px;">
                <div class="card-content">
                    <form id="addform" action="../app/api/addproducts_api.php" method="POST">    
                    <div class="row">
                         <div class="input-field col s12">
                            <select id="brands" name="brands">
                            
                            </select>
                            <label>Brands</label>
                          </div>
                        <div class="col s12" style="padding-bottom: 3%;">
                          <!--  <button class="btn-floating btn-large waves-effect waves-light red" id="badd" href="#modal1"><i class="material-icons">add</i></button>-->
                             <a class="waves-effect waves-light btn red  modal-trigger" href="#modal1"><i class="material-icons">add</i></a>
                        
                        </div>
                          <div class="input-field col s12 hide" id="productsdiv">
                            <select id="products" name="products">
                               
                            </select>
                            <label>Products</label>
                               <a class="waves-effect waves-light btn red  modal-trigger" href="#modal1"><i class="material-icons">add</i></a>
                              
                          </div>
                    </div>
                    <div class="row hide" id="productinfo">
                        <div class="input-field col s12">
                          <input type="text" id="model" name="model" required>
                          <label for="model">Model Name</label>
                        </div>
                          <div class="input-field col s12">
                          <input type="text" id="part_number" name="part_number" required>
                          <label for="part_number">Part Number</label>
                        </div>
                        
                        <div class="input-field col s12">
                          <input type="number" id="quantity" name="quantity" required>
                          <label for="quantity">Quantity</label>
                        </div>
                        <div class="input-field col s12">
                          <textarea id="product_dscp" class="materialize-textarea" name="product_dscp" data-length="255"></textarea>
                          <label for="product_dscp">Specifications</label>
                        </div>
                         <div class="input-field col s12">
                          <input type="number" id="price" name="price" required>
                          <label for="price">Price</label>
                        </div>
                           <div class="input-field col s12">
                               <select id="gst" name="gst" required>
                              <option value="" disabled selected>Choose your option</option>
                              <option value="5">5</option>
                              <option value="12">12</option>
                              <option value="18">18</option>
                              <option value="28">28</option>
                            </select>
                               <label>GST</label>
                        </div>
                        <div class="input-field col s12 center" id="adddiv"> 
                           <input class="btn"  type="submit" name="add" value="Add" id="add">
                        </div> 
                    </div>
                     </form>
                    </div>
	       </div>
        </div>
        <div class="col s12 m5 l5 offset-m1 offset-l1">
            <!--<div class="card z-depth-4">-->
              <form id="addxls" action="../app/api/uploadxls_api.php" method="post" enctype="multipart/form-data">
                <div class="file-field input-field">
                  <div class="btn red">
                    <span>File</span>
                    <input type="file" name="fileToUpload" id="fileToUpload">
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                  </div>
                </div>
                <div class="input-field col s12 center" id="adddiv"> 
                   <input class="btn red"  type="submit" name="upload" value="Upload" id="upload">
                </div>  
              </form>
            <!--</div>-->
        </div>
    </div>
	</div>
     <div id="modal1" class="modal">
    <div class="modal-content">
        <div class="input-field col s12">
            <input type="text" id="brandmod" name="brandmod" required>
            <label for="brandmod" id="modbrandlabel">Brand</label>
        </div>
        <div class="input-field col s12">
            <input type="text" id="productmod" name="productmod" required>
            <label for="productmod">Product</label>
        </div>
         <p>
              <input name="group1" type="radio" id="h" value="h" />
              <label for="h">Hardware</label>
            </p>
            <p>
              <input name="group1" type="radio" id="s" value="s" />
              <label for="s">Software</label>
            </p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="btn modal-action waves-effect waves-green" id="addbrand">Add </a>
      <a href="#!" class="modal-action btn modal-close waves-effect waves-green ">Close</a>
    </div>
       
  </div>    
        
        
	</main>
 
    
 
  <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.flash.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.colVis.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js"></script>

 
    
    
    <script src="js/init.js"></script>
    <script src="js/search.js"></script>
    <script src="js/addproduct.js"></script>
    

  </body>
</html>