<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>IMS</title>
  
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
  
  
  
</head>
<body>
	<header>
		<div class="navbar-fixed">
			<nav class="primary-color" role="navigation" style="background-color: #969696">
				<div class="nav-wrapper navcontainer">
					<a id="logo-container" href="dashboard.html"
						class="brand-logo tertiary-color text-lighten-2"><span
						class="blue-text text-darken-1"><font size="6">I</font>MS</span></a>
					<ul class=" hide-on-med-and-down" style="margin-left: 190px;">
						<li class="bold active "><a href="dashboard.html"
							class="waves-effect waves-light tertiary-color">Dashboard</a></li>
						<li class="bold"><a href="payments.html"
							class="waves-effect waves-light tertiary-color ">Link 2</a></li>
						<li class="bold"><a href="cdr.html"
							class="waves-effect waves-light tertiary-color">Link 3</a></li>
						<li class="bold"><a href="rate.html"
							class="waves-effect waves-light tertiary-color ">Link 4</a></li>
					</ul>
					<ul class="right">
						<li class="hide-on-med-and-down"><a href="#"><i
								class="material-icons md-26">account_circle </i></a></li>
						<li class="hide-on-med-and-down"><span id="accname"></span></li>
						<li><a class="dropdown-button" href="#!"
							data-activates="profile-dropdown"><i
								class="material-icons right">arrow_drop_down</i></a></li>
					</ul>
					<a href="#" data-activates="nav-mobile"
						class="button-collapse top-nav full hide-on-large-only"> <i
						class="material-icons">menu</i></a>
				</div>
			</nav>

		</div>

		<ul id="nav-mobile" class="side-nav secondary-color z-depth-2">
			<li style="height: 30px;"></li>
			<li class="bold active "><a href="dashboard.html"
				class="waves-effect waves-light tertiary-color"><i
					class="material-icons">dashboard</i>Dashboard</a></li>
			<li class="bold"><a href="#"
				class="waves-effect waves-light tertiary-color "><i
					class="material-icons">payment</i>Link 2</a></li>
			<li class="bold"><a href="#"
				class="waves-effect waves-light tertiary-color"><i
					class="material-icons">show_chart</i>Link 3</a></li>
			<li class="bold"><a href="#"
				class="waves-effect waves-light tertiary-color "><i
					class="material-icons">trending_up</i>Link 4</a></li>
		</ul>
		<ul id="profile-dropdown" class="dropdown-content"
			style="width: 128px; position: absolute; top: 57px; left: 101.234px; opacity: 1; display: none;">
			<li><a href="#" id="logout"><i class="material-icons black">keyboard_tab</i>
					Logout</a></li>
		</ul>
	</header>
	<main>
	<div class="container">
	<div class="row center" style="margin-right: -9px;">
	<div class=" col s12 m4 l4 offset-m4 offset-l4">
	<div class="card z-depth-4" style="border-radius: 10px;">
        <h3>Dash Board</h3>
	</div>
	</div>
       
	</div>
	</div>
	</main>
 
  <!--  Scripts-->
   <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
    <script src="js/login.js"></script>
    <script src="js/init.js"></script>

  
  </body>
</html>
